<div class="w-100 h-100 d-flex flex-column p-4">
  <button
    (click)="changeFilter('lessPrice')"
    class="default-button w-50 mb-2 d-md-none d-sm-block d-lg-block"
    [class]="activeFilter == 'lessPrice' ? 'bg bg-primary' : ''"
  >
    Filter less 2 &euro;
  </button>
  <button
    (click)="changeFilter('lessPrice')"
    class="default-button w-100 mb-2 d-none d-lg-none d-md-block"
    [class]="activeFilter == 'lessPrice' ? 'bg bg-primary' : ''"
  >
    Filter less 2 &euro;
  </button>
  <button
    (click)="changeFilter('morePrice')"
    class="default-button w-50 mb-2 d-md-none d-sm-block d-lg-block"
    [class]="activeFilter == 'morePrice' ? 'bg bg-primary' : ''"
  >
    Filter more 2 &euro;
  </button>
  <button
    (click)="changeFilter('morePrice')"
    class="default-button w-100 mb-2 d-none d-lg-none d-md-block"
    [class]="activeFilter == 'morePrice' ? 'bg bg-primary' : ''"
  >
    Filter more 2 &euro;
  </button>
  <button
    (click)="changeFilter('topRating')"
    class="default-button w-50 mb-2 d-md-none d-sm-block d-lg-block"
    [class]="activeFilter == 'topRating' ? 'bg bg-primary' : ''"
  >
    Filter top rating
  </button>
  <button
    (click)="changeFilter('topRating')"
    class="default-button w-100 mb-2 d-none d-lg-none d-md-block"
    [class]="activeFilter == 'topRating' ? 'bg bg-primary' : ''"
  >
    Filter top rating
  </button>
  <button
    (click)="changeFilter('')"
    class="default-button w-50 mb-2 d-md-none d-sm-block d-lg-block"
  >
    Reset Filter
  </button>
  <button
    (click)="changeFilter('')"
    class="default-button w-100 mb-2 d-none d-lg-none d-md-block"
  >
    Reset Filter
  </button>
  <div class="w-100 d-flex flex-column">
    <a routerLink="/home/create-project"
      ><button class="button-add-product">ADD PRODUCT</button></a
    >
    <strong style="font-size: 2em">Products</strong>
    <div
      *ngFor="let product of products.all"
      (click)="changeProduct(product)"
      class="products-container d-flex mt-4"
    >
      <div
        class="w-100 d-flex justify-content-between border-bottom pb-2"
        [class]="
          productSelected.product === product.product ? 'text-primary' : ''
        "
      >
        <p>{{ product.product }}</p>
        <i class="bi bi-caret-right"></i>
      </div>
    </div>
  </div>
</div>
