header {
  background-color: rgb(14 116 144);
  font-weight: 700;

  * {
    border-color: white !important;
    color: white !important;
  }
  .button-cart {
    position: relative;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: red;
      color: white;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }
}

#supermarket-logo {
  height: auto;
  width: 100px;
}

ul {
  list-style: none;
  > li {
    padding: 0px 20px;
    &:not(:last-child) {
      border-right: solid 1px black;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
