<div class="container">
  <app-header></app-header>
  <div class="row">
    <aside class="col-12 col-md-3 border">
      <app-aside
        [products]="products"
        [productSelected]="product"
        [activeFilter]="activeFilter"
        (onChangeProduct)="changeProduct($event)"
        (onChangeFilter)="changeFilter($event)"
      >
      </app-aside>
    </aside>
    <div
      class="col-12 col-md-9 border"
      [class]="product.favorite ? 'bg bg-dark text-light' : ''"
    >
      <app-product-detail
        [product]="product"
        (onDeleteProductClicked)="deleteProduct(product)"
        (onChangeFavoriteStatusClicked)="changeFavoriteStatus(product)"
      ></app-product-detail>

      <div
        *ngIf="product.similarProducts.length > 0"
        class="row border-top border-bottom similar-products p-4"
      >
        <div class="col-12 d-flex flex-wrap justify-content-center">
          <h1 class="w-100 text-center mb-2">Similar Products</h1>

          <app-similar-product
            *ngFor="let similarProduct of product.similarProducts"
            class="d-flex flex-column align-items-center justify-content-center m-4"
            [similarProduct]="similarProduct"
          >
          </app-similar-product>
        </div>
      </div>
      <div
        *ngIf="product.reviews && product.reviews.length > 0"
        class="row p-4"
      >
        <div class="col-12 mb-4">
          <h1>Reviews</h1>
        </div>
        <div class="col-12 pt-2 mb-4">
          <app-review
            *ngFor="let review of product.reviews"
            class="row review mb-2 pb-2"
            [review]="review"
          >
          </app-review>
        </div>
      </div>
    </div>
  </div>
</div>
